body {
    padding: 20px;
    padding-top: 0px;
    padding-left: 0px;
    padding-right: 0px;
    background-color: #000000 !important;
    margin: 0;
  }
  h1, h2, h3, h4, p, ul, li {
    font-family: Lato;
    font-weight: 900;
    font-style: normal;
  }

h4 {
  font-weight: 400 !important;
  opacity: 0.8;
}

#navMain {
  padding: 0px !important;
  background-color: black;
  background-color: rgb(24, 24, 24);
  overflow: visible;
}

a {
    color: #FFF;
    text-decoration: none;
    display: inline-block;
  }

  div a {
    text-decoration: none;
    color: white;
  }

  .active {
    background-color: rgb(32, 15, 15);
    min-height: 60px; 
  }

  .menuBrick:hover{
    color:grey;
  }

.menuBrick {
  font-family: Lato;
  display: flex;
  align-items: center;
  padding: 15px;
  font-weight: bold;
  min-height: 60px !important;
  max-height: unset !important;
}

.headerPhoto {
  background-image: url('/src/img/website.JPG');
  background-repeat: no-repeat;
  background-size: cover;
  height: 400px;
}

.mask-col {
  background-color: rgba(0, 0, 0, 0.6);
}

.c-align-center {
  display: flex;
  align-items: center !important;
}

.c-logo {
  height: auto;
  width: auto;
  max-height: 50px;
  max-width: 250px
}

.nav-custom {
  height:60px !important;
  display: flex;
  align-items: center; 
}

.navbar { 
  min-height: 62px !important;
}