@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');
@import url('http://fonts.cdnfonts.com/css/letter-marker');
@import url('http://fonts.cdnfonts.com/css/stylish-marker');

@import url('http://fonts.cdnfonts.com/css/stoopid-markers');

@font-face 
{
font-family: "The Stamshons";
src: url("TheStamshons.ttf");
src:
url("TheStamshons.ttf") format("woff"),
url("TheStamshons.ttf") format("opentype"),
url("TheStamshons.ttf") format("svg");
}

body {
    padding: 20px;
    padding-top: 0px;
    padding-left: 0px;
    padding-right: 0px;
    background-color: #000000 !important;
    margin: 0;
    padding-bottom: 50px;
  }

  html,body {
    height: 100%;
  }

  h1, h2, h3, h4, p, ul, li {
    font-family: Lato;
    font-weight: 900;
    font-style: normal;
  }

h4 {
  font-weight: 400 !important;
  opacity: 0.8;
}

#navMain {
  padding: 0px !important;
  background-color: black;
  overflow: visible;
  background-color: rgba(0, 0, 0, 0.2);
}

a {
    color: #FFF;
    text-decoration: none;
    display: inline-block;
  }

  div a {
    text-decoration: none;
    color: white;
  }

  .active {
    min-height: 60px; 
    border-bottom: 4px solid white;
  }

  .menuBrick:hover{
    color:grey;
  }

.menuBrick {
  font-family: Lato;
  display: flex;
  align-items: center;
  padding: 15px;
  font-weight: bold;
  min-height: 60px !important;
  max-height: unset !important;
}

.photoContainer {
  width: 100%;
  margin: auto;
}

.headerPhoto {
  /*background-image: url('/src/img/faded.png');*/
  background-image: url('/src/img/faded-comphard.jpg');
  background-repeat: no-repeat;
  background-size: contain;
  width: 100%;
  height: 600px;
  background-position: top;
  margin: auto;
  padding-bottom: 8px !important;
  display: flex;
  flex-direction: column;
}

.serviceHeader {
  text-shadow: 0px 0px 5px black, 0px 0px 10px #000, 0px 0px 10px #000, 0px 0px 10px black,  0px 0px 10px #000, 0px 0px 10px black;
  margin: auto;
  font-size: 35px;
  width: 100%;
  color: white;
  background-color:rgba(0, 0, 0, 0.5);
}

.mask-col {
  background-color: rgba(0, 0, 0, 0.6);
}

.c-align-center {
  text-align: center;
  margin:auto;
  color: white;
  font-family: 'Lato', sans-serif;
  width: 100%;
  font-weight: 300;
}

.c-logo {
  height: auto;
  width: auto;
  max-height: 50px;
  max-width: 250px
}

.nav-custom {
  height:60px !important;
  display: flex;
  align-items: center; 
}

.navbar { 
  min-height: 62px !important;
}

.menu-container {
  display: flex;
  width: 75%;
  margin: auto;
  justify-content: space-around;
  margin-top: -2em;
}

.c-home-button {
  font-size: 30px;
  color:white;
  font-family: Lato;
  font-weight: 900;

}

.c-home-subtitle {
  font-family: Lato;
  font-size: 15px;
  color: #b0b0b0;
  font-weight: 300;
  max-width: 25ch;
}

.c-size-big {
  font-size: 30px;
  vertical-align: -4px;
}

.c-size-huge {
  font-size: 46px;
  color: #b0b0b0;
  vertical-align: -2px;
}

.vertBreak {
  height: 140px;
}

.vertBreakBorder {
  height:140px;
  border-left: 5px solid grey;
}

.optionBrick {
  display:flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  text-decoration: none;
}

.optionBrick:hover {
  text-shadow: 0px 0px 20px rgb(202, 202, 202);
}

.footer {
  font-family: 'The Stamshons', sans-serif;
  color: white;
  font-size: 20px;
  padding: 4px;
  text-align: center;
  letter-spacing: 1px;
}

.emailInfoContainer {
  display: flex;

}
.footerEmailInfo{
  font-family: Lato, sans-serif;
  color: grey;
  font-size: 14px;
  letter-spacing: 1px;
  position: absolute; 
  right: 30px;
  bottom: 8px;
}

.footerContainer {
  position: relative;
  margin-top: 2em;
  padding-top: 3px;
  height: 40px;
  width: 100%;
  overflow: hidden;
  text-align: center;
  /*background-color: rgb(12, 12, 12);
  border-top:solid 2px rgb(31, 30, 30);*/
}

@media only screen and (max-height: 790px) and (min-height: 100px)
{
  .footerContainer {
    margin-top: 4em;
  }
}

@media only screen and (min-height: 790px) and (max-height: 1000px){
  .footerContainer {
    position: absolute;
    left: 0;
    bottom: 0;
  }
}

.footerLogo {
  max-height: 35px;
  margin-left: 8px;
  margin-bottom: 7px;
  text-decoration: none;
}

.footerLogo:hover {
  filter: drop-shadow(0 0 3px #666666);
}

.fiverr {
  max-height: 24px;
  margin: left 15px;
}

.grecaptcha-badge { 
  bottom:100px !important; 
}