.c-music-header {
    font-family: Lato;
    font-weight: 900;
    font-style: normal;
    color: white;
    font-family: 'The Stamshons', sans-serif;
    letter-spacing: 2px;
}

.c-mixing-header {
    max-width: 8ch;
    line-height: 26pt;
}

.c-subtitle {
    max-width: 14ch;
    color: rgb(141, 141, 141);
}

.c-title-pane {
    margin-right: 1em;
    flex: 0 1 15%;
}

.c-music-container {
    margin-top: 2em;
    margin-right: 0px;
    display:flex;
}

.c-video-container {
    border-left: 4px solid rgb(141, 141, 141);
    padding-left: 2em;
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    flex: 0 1 73%;
}

.c-video-brick {
    border:rgb(30, 30, 30) 2px solid;
    border-radius: 10px;
}

.c-soundcloud-brick {
    border:rgb(30, 30, 30) 4px solid;
    border-radius: 10px;
}

.c-mixing-container {
    display:flex;
}
.home-container {
    padding-left: 6em;
    padding-right: 0em;
    padding-top: 3.7em;
    padding-bottom: 1em;
    width: 100%;
    margin-right: 0px;
   }

.c-mix-name {
    color: white;
    font-weight: 900;
}

.HorizontalBreak {
    height: 30px;
    width: 80%;
    text-align: right;
    margin: auto;
    /*border:rgb(59, 59, 59) solid 3px;*/
}

.break-margin {
    margin-top: 1em;
    margin-bottom: 3em;
}

.c-break-container {
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    flex: 0 1 73%;
}

.c-description {
    margin-top: 1em;
    font-family: Lato;
    font-style: normal;
    color: white;
    margin-bottom: 2em;
    padding-left: 2em;
}

.c-description-mixing {
    margin-top: 1.5em;
    font-family: Lato;
    font-style: normal;
    color: white;
    padding-left: 2em;
    margin-bottom: 2em;
}
